.grid-container {
    width: 1140px;
    margin: 0 auto;
    padding: 80px 3px;
    /*border: 1px solid #000000;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
    /*grid-auto-rows: 200px;*/
    /*grid-auto-columns: 200px;*/
    /*gap: 20px;*/
}

.grid-item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    width: 240px;
}

.grid-item p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

